parameters:
  typeAliases:
    Atom: 'PackageFactory\ComponentEngine\Parser\Ast\Expression\NullLiteral|PackageFactory\ComponentEngine\Parser\Ast\Expression\BooleanLiteral|PackageFactory\ComponentEngine\Parser\Ast\Expression\NumberLiteral|PackageFactory\ComponentEngine\Parser\Ast\Expression\StringLiteral|PackageFactory\ComponentEngine\Parser\Ast\Expression\TemplateLiteral|PackageFactory\ComponentEngine\Parser\Ast\Expression\ArrayLiteral|PackageFactory\ComponentEngine\Parser\Ast\Expression\ObjectLiteral|PackageFactory\ComponentEngine\Parser\Ast\Expression\Negation|PackageFactory\ComponentEngine\Parser\Ast\Expression\Spread|PackageFactory\ComponentEngine\Parser\Ast\Expression\Identifier'
    Operand: 'Atom|PackageFactory\ComponentEngine\Parser\Ast\Expression\Conjunction|PackageFactory\ComponentEngine\Parser\Ast\Expression\Disjunction|PackageFactory\ComponentEngine\Parser\Ast\Expression\PointOperation|PackageFactory\ComponentEngine\Parser\Ast\Expression\DashOperation|PackageFactory\ComponentEngine\Parser\Ast\Expression\Comparison|PackageFactory\ComponentEngine\Parser\Ast\Expression\Ternary|PackageFactory\ComponentEngine\Parser\Ast\Expression\ArrowFunction|PackageFactory\ComponentEngine\Parser\Ast\Expression\Chain|PackageFactory\ComponentEngine\Parser\Ast\Afx\Tag'